// Default variables.
@import "default-variables";
// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';
// Base-theme overrides.
@import 'overrides';

//Navigation
.region-navigation {
  position: relative;

  #block-rubicon-account-menu {
    position: absolute;
    top: 5px;
    right: 17px;

    .navbar-right {
      margin: 0;
    }
  }

  #block-rubicon-main-menu {
    position: absolute;
    top: 5px;
    left: 17px;
  }

  .navbar-nav.menu li a {
    color: #fff;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 1px 2px #000;
    -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
    -webkit-transition: background-color 0.5s ease;-moz-transition: background-color 0.5s ease;-ms-transition: background-color 0.5s ease;-o-transition: background-color 0.5s ease;transition: background-color 0.5s ease;
  }

  .navbar-nav.menu li a:hover {
    //border-bottom: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.41);
  }

  #block-rubicon-search {
    position: absolute;
    top: calc(50% - 23px);
    left: calc(50% - 250px);
    width: 500px;

    #search-block-form {
      input.form-control {
        height: 46px;
        font-size: 16px;
        padding-left: 20px;
        border: none;
      }

      button.btn {
        padding: 9px 26px;
        font-size: 20px;
        background-color: #06682a;
        border: none;
        -webkit-transition: background-color 0.5s ease;-moz-transition: background-color 0.5s ease;-ms-transition: background-color 0.5s ease;-o-transition: background-color 0.5s ease;transition: background-color 0.5s ease;
      }

      button.btn:hover {
        background-color: #068f36;
      }
    }
  }
}
//Footer
.footer {
  background: #333;
  padding: 20px;
  font-size: 14px;
  color: #888;

  hr {
    background: #666;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  a {
    color: #b8b8b8;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
  }

  h5 {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 3px 0;

      a {
        color: #888;
        text-decoration: none;
      }

      a:hover {
        color: #fff;
      }
    }
  }

  .socials {
    display: flex;
    justify-content: space-around;

    a {
      color: #b8b8b8;
      font-size: 25px;
    }

    a:hover {
      color: #fff;
    }
  }

  .box-subcribe {
    color: #eee;
    display: flex;
    justify-content: flex-end;

    .input-group {
      display: flex;

      .input-group-append {
        margin-left: -1px;
      }
    }

    .text-subcribe {
      padding: 10px 15px 0 0;
      color: #888;
    }

    form {
      float: right;
      width: 350px;
    }
  }

  .info-rubicontour strong {
    color: #eee;
    font-weight: 300;
    display: block;
  }
}

//Login page
.login-main-container {
  //background: url(../../rubicon/images/login-background.jpg) no-repeat center center;
  //-webkit-background-size: cover;background-size: cover;
  position: relative;
  height: 100vh;
  overflow: hidden;
  //  top: 0;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;

  //
  //.login-main-mask {
  //  //background: url(../../rubicon/images/login-page-background.gif) no-repeat center center;
  //  //-webkit-background-size: cover;background-size: cover;
  //  //height: 110vh;
  //  //width: 110vw;
  //  background-color: #fff;
  //  filter: blur(5px);
  //  -webkit-filter: blur(5px);
  //  position: fixed;
  //  top: 0;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  opacity: 0.5;
  //  //z-index: 99;
  //}

  .login-main-mask {
    background: url(../../rubicon/images/login-background.jpg) no-repeat center center;
    -webkit-background-size: cover;background-size: cover;
    filter: blur(5px);
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }

  .login-main-content {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 7px;
    width: 400px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    padding: 30px 0;

    nav.tabs {
      display: none;
    }

    h1.page-header {
      //text-align: center;
      //color: #fff;
      //text-transform: uppercase;
      display: none;
    }

    #user-login-form {
      .form-item {
        margin: 10px 0;
        padding: 0 60px;
        display: block;


        label {
          color: #fff;
          font-weight: 400;
          padding-left: 10px;
          text-align: left;
        }

        label.form-required:after {
          display: none;
        }
        
        input {
          -webkit-border-radius: 16px;-moz-border-radius: 16px;border-radius: 16px;
          background-color: rgba(255, 255, 255, 0.3);
          border: none;
          color: #fff;
        }

        input:focus {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }

      button {
        display: block;
        -webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        border-radius: 23px;
        background-color: #065724;
        border: none;
        outline: none;
        margin: 25px auto 0 auto;
        padding: 12px 20px;
        -webkit-transition: background-color 0.5s ease;-moz-transition: background-color 0.5s ease;-ms-transition: background-color 0.5s ease;-o-transition: background-color 0.5s ease;transition: background-color 0.5s ease;

        span {
          display: none;
        }
      }

      button:hover {
        background-color: #06772c;
      }

    }

    .login-links {
      color: #a2a2a2;
      margin-top: 30px;

      a {
        color: #a2a2a2;
        text-decoration: none;
        -webkit-transition: color 0.5s ease;-moz-transition: color 0.5s ease;-ms-transition: color 0.5s ease;-o-transition: color 0.5s ease;transition: color 0.5s ease;
      }

      a:hover {
        color: #fff;
      }
    }
  }
}
