// Default variables.
@import "default-variables";
// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';
// Base-theme overrides.
@import 'overrides';

//Navigation
.region-navigation {
  position: relative;

  #block-rubicon-account-menu {
    position: absolute;
    top: 5px;
    right: 17px;

    .navbar-right {
      margin: 0;
    }
  }

  #block-rubicon-main-menu {
    position: absolute;
    top: 5px;
    left: 17px;
  }

  .navbar-nav.menu li a {
    color: #fff;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 1px 2px #000;
    -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
    -webkit-transition: background-color 0.5s ease;-moz-transition: background-color 0.5s ease;-ms-transition: background-color 0.5s ease;-o-transition: background-color 0.5s ease;transition: background-color 0.5s ease;
  }

  .navbar-nav.menu li a:hover {
    //border-bottom: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.41);
  }

  #block-rubicon-search {
    position: absolute;
    top: calc(50% - 23px);
    left: calc(50% - 250px);
    width: 500px;

    #search-block-form {
      input.form-control {
        height: 46px;
        font-size: 16px;
        padding-left: 20px;
        border: none;
      }

      button.btn {
        padding: 9px 26px;
        font-size: 20px;
        background-color: #06682a;
        border: none;
        -webkit-transition: background-color 0.5s ease;-moz-transition: background-color 0.5s ease;-ms-transition: background-color 0.5s ease;-o-transition: background-color 0.5s ease;transition: background-color 0.5s ease;
      }

      button.btn:hover {
        background-color: #068f36;
      }
    }
  }
}

//Footer
.footer {
  background: #333;
  padding: 20px;
  font-size: 14px;
  color: #888;

  hr {
    background: #666;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }

  a {
    color: #b8b8b8;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
  }

  h5 {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 3px 0;

      a {
        color: #888;
        text-decoration: none;
      }

      a:hover {
        color: #fff;
      }
    }
  }

  .socials {
    display: flex;
    justify-content: space-around;

    a {
      color: #b8b8b8;
      font-size: 25px;
    }

    a:hover {
      color: #fff;
    }
  }

  .box-subcribe {
    color: #eee;
    display: flex;
    justify-content: flex-end;

    .input-group {
      display: flex;

      .input-group-append {
        margin-left: -1px;
      }
    }

    .text-subcribe {
      padding: 10px 15px 0 0;
      color: #888;
    }

    form {
      float: right;
      width: 350px;
    }
  }

  .info-rubicontour strong {
    color: #eee;
    font-weight: 300;
    display: block;
  }
}
