<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="row pt-3 pb-3">
      <div class="col-lg-3 col-12">
        <div class="socials">
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-youtube"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-google-plus"></i></a>
        </div>
      </div>
      <div class="col-lg-9 offset-lg-1 mt-md-3 mt-lg-0 col-12">
        <div class="box-subcribe">
          <div class="text-subcribe">Các deal du lịch giảm giá đến 99% sẽ được gửi đến bạn</div>
          <form class="register-email">
            <div class="input-group">
              <input type="email" name="Email" required="" class="form-control rounded-0" placeholder="Nhập Email">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary rounded-0 pl-4 pr-4">Đăng ký</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container pt-3">
    <div class="row">
      <div class="col-lg-7 info-rubicontour">
        <p><span style="font-size:14px;">Hotline tư vấn 24/7 : <a href="tel:0388976875">038.897.6875</a> -&nbsp;<a
              href="tel:0943751866">094.375.1866</a> -&nbsp;<a href="tel:0917878080">091.787.8080</a> - <a
              href="tel:0988777443">098.877.7443</a>&nbsp;</span></p>

        <h5>CÔNG TY TNHH RUBICON TOURS</h5>

        <p><em>Giấy phép kinh doanh số 0105999195 do sở KH&amp;ĐT TP Hà Nội cấp ngày 26/09/2012<br>
            Giấy phép Kinh doanh Lữ hành Quốc tế số 01-814/2016/TCDL-GP LHQT</em></p>

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <address><strong>Trụ sở chính: </strong>Tầng 21, Capital Tower 109 Trần Hưng Đạo, Hoàn Kiếm, Hà Nội<br>
              Tel: 024.3233.6143; Hotline: 0914.523.768<br>
              Fax: 024.3233.6140
            </address>
          </div>

          <div class="col-lg-6 col-md-6">
            <address><strong>Phú Quốc: </strong>Tổ 4, Đ. Trần Hưng Đạo, P. Dương Tơ, H. Phú Quốc, Kiên Giang<br>
              Tel: 0297.384.6799 ; Hotline 0914.523.768<br>
              Fax: 0297.384.6799
            </address>
          </div>

          <div class="col-lg-6 col-md-6">
            <address><strong>Hà Nội: </strong>Số 33 Láng Hạ, Ba Đình, Hà Nội<br>
              Tel: 024.3233.6143; Hotline: 0914.523.768<br>
              Fax: 024.3233.6142
            </address>
          </div>

          <div class="col-lg-6 col-md-6">
            <address><strong>Hồ Chí Minh: </strong> 405/39 Thống Nhất,&nbsp;P. 11, Q.&nbsp;Gò Vấp, TP. Hồ Chí Minh<br>
              Tel: 028.6257.2155 ; Hotline 0914.523.768<br>
              Fax: 028.6257.2155
            </address>
          </div>
        </div>


      </div>
      <div class="col-lg-2 col-md-6">
        <div class="row no-gutters">
          <div class="col-lg-12 col-6">
            <h5>VỀ RUBICON TOURS</h5>
            <ul>
              <li><a href="/ve-chung-toi">Về chúng tôi</a></li>
              <li><a href="/cam-hung-du-lich">Tin tức</a></li>
              <li><a href="/ve-chung-toi">Hợp tác cùng Rubicon</a></li>
              <li><a href="/co-hoi-nghe-nghiep">Cơ hội nghề nghiệp</a></li>
            </ul>
          </div>
          <div class="col-lg-12 col-6 pt-lg-3 pt-md-0 pt-sm-3">
            <h5>ĐIỀU KHOẢN SỬ DỤNG</h5>
            <ul>
              <li><a href="#">Điều khoản sử dụng</a></li>
              <li><a href="#">Chính sách bảo mật</a></li>
              <li><a href="#">Hướng dẫn thanh toán</a></li>
              <li><a href="#">Quyền riêng tư</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pt-3 pt-sm-0">
        <h5 class="d-none d-lg-inline">FACEBOOK</h5>
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Frubicontours%2F&tabs&width=260&height=196&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
          width="260" height="196" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
</footer>
